@model IEnumerable<TaskManagementSystem.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<section class="">
        @if (User.Identity.IsAuthenticated)
        {
            <h1>Todo List</h1>

        <p>
            <a href="/TaskModels/Create" class="btn btn-success">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                            @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th style="width: 40%">
                            @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                                @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href="/TaskModels/Edit/@item.Id" class="btn btn-warning">Edit</a> |
                            <a href="/TaskModels/Details/@item.Id" class="btn btn-primary">Details</a> |
                            <button class="btn btn-danger" onclick="confirmDelete('@item.Id')">Delete</button>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>


        }
        else{
            <p>Please Login to display your Todo list</p>
        }

</section>

<script>
    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this item?")) {
            deleteItem(id);
        }
    }

    function deleteItem(id) {
        fetch(`/TaskModels/Delete/${id}`, {
            method: 'DELETE',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                else if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
            })
            .then(data => {
                console.log('Response:', data);
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
